@model PAGINA_SUCURSAL_MEDICA.Models.recuperar_contrasenia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>recuperar_contrasenia</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.correo_electronica }) |
    @Html.ActionLink("Back to List", "Index")
</p>
