@{
    ViewBag.Title = "Home Page";
}

<main>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/Imagenes/pexels-jorge-chan-16450622.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="~/Imagenes/IMG2.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="~/Imagenes/IMG3.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="texto">
                    <p>
                        <strong>¡Bienvenido a la Sucursal Médica! </strong>

                        En la Sucursal Médica, entendemos que tu salud es lo más importante. Por eso, nos comprometemos a brindarte atención médica de calidad y personalizada.

                        Nuestro equipo de profesionales médicos está formado por médicos, enfermeras y otros especialistas que están dedicados a tu bienestar.

                        También ofrecemos servicios de atención de urgencia y atención domiciliaria.

                        Creemos que la atención médica debe ser accesible y asequible para todos. Por eso, ofrecemos planes de pago flexibles y opciones de seguro.

                        Nuestro objetivo es que nuestros pacientes se sientan cómodos y seguros durante su visita. Nuestro personal está capacitado para brindar atención compasiva y personalizada.


                    </p>

                    <P>Este sobre nosotros destaca los siguientes puntos clave:</P>
                    <li>El compromiso de la sucursal con la calidad de la atención médica.</li>
                    <li>La amplia gama de servicios que ofrece la sucursal.</li>
                    <li>La accesibilidad y asequibilidad de la atención médica que ofrece la sucursal.</li>
                    <li>El compromiso de la sucursal con la comodidad y la seguridad de los pacientes.</li>

                </div>
            </div>
        </div>
    </div>

    <!-- targetas de bootstrap-->
    @*<div class="container">
            <div class="card" style="width: 18rem;">
                <img src="/imagenesnuevas/impuestos.avif" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Impuestos <br> Aprende fácil sobre declaración de renta. <br> Salvador, nuestro experto en impuestos te enseñará. Entra y conócelo en nuestro canal de Youtube.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/imagenesnuevas/carromoto.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text"><strong>Tu360Movilidad</strong><br> No te pierdas Tu360Movilidad Fest Aquí encuentras tu moto y tu carro con beneficios especiales, solo del 2 de octubre al 31 de octubre 2023.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="imagenesnuevas/mano.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        Mis Aliados <br>
                        <strong>Todo lo que necesitas está en Mis Aliados</strong><br> La plataforma de servicios para tu bienestar y necesidades cotidianas con más de 200 servicios en diferentes categorías
                    </p>
                </div>
            </div>
        </div>*@




</main>

