@{
    ViewBag.Title = "Login";
}
<main aria-labelledby="title">
    @Html.ActionLink("Inicie sesión","Create","ingreso_usuaio")
    <hr />
    <p>No tiene cuenta? @Html.ActionLink("Cree una cuenta","Create","creacion_usuario")</p>
</main>